*{margin:0px;
padding:0px;}
.header{
	height:50px;
	width:100%px;
	background:rgb(207,70,70) ;
	}
.banner{height:380px;
        width:100%px;
		background:rgb(207,70,70)}
.main{
	height:210px;
	width:1100px;
	
	margin:60px auto
}
.footer{
	width:100%;
	height:80px;
	background:#CCC
}
.header .hdtext{
	height:50px;
	width:1100px;
	border:#CF0 1px soild;
	margin:0px auto ;
	}
ul {list-style:none;}
a{text-decoration:none;}
body{font-family:"微软雅黑";}
.header.logo{
	float:left;
	font-size:18px;
	line-height:50px;
		}
.header .nav{float:right}
.header a{ color:#CCC}
.header a:hover{color:#FFF}
.header .nav li{float:left;}
.header .nav a{font-size:14px;
				display:block;
				padding: 0 15px}
.banner{height:380px;
         width:100%px;
		 background:rgb:(207,70,70);
		 text-align:center;
		 }
.banner .logo{margin-top:50px;
	
	}
.banner p{font-size:22px;
color:#FFF;
margin:10px auto 40px;}
.banner .btm{font-size:18px;
             color:#eee;
              border:1px #eee solid;
                 }
				 
.banner .btm:hover{color:#FFF;
       border-color:#FFF;}
.main .box1{float:left;
            padding:0px 10px;
			margin-top:30px
		}
.main .box2{float:right;
            padding:0px 10px;
			margin-top:30px
	
	}
.main .box3{float:left;
            padding:0px 10px;
			margin-top:30px
	
	}
.main .box4{float:right;
            padding:0px 10px;
			margin-top:30px
		}
.footer .text{text-align:center;
color:#FFF}

